extends shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            a(href='/admin/add')
                button.btn-success Добавяне
            a(href='/admin/remove')
                button.btn-danger Премахване
            a(href='/admin/logout')
                button.btn-info Излизане от админ профила
        .content
            h1 Промяна на жилище
            input#code.form-control(name='code', placeholder='Код на жилище')
            button.btn-warning.form-control(onclick='changeAction()') Промени
        script.
            function changeAction() {
                const input = document.getElementById('code');
                console.log(input.value);
                document.location='/admin/edit/' + input.value;
            }