extends ../shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            a(href='/admin/add')
                button.btn-success Добавяне
            a(href='/admin/edit')
                button.btn-warning Промяна
            a(href='/admin/remove')
                button.btn-danger Премахване
            a(href='/admin/logout')
                button.btn-info Излизане от админ профила
            br
            a(href='/admin/addNews')
                button.btn-success Добавяне новина
        .content
            h1 Премахване на новина
            form(method='post', action='/admin/removeNews', enctype='multipart/form-data')
                input.form-control(type='text', name='id', placeholder='код')
                button.form-control.btn-danger(type='submit') Премахване