extends ../shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            a(href='/admin/add')
                button.btn-success Добавяне
            a(href='/admin/edit')
                button.btn-warning Промяна
            a(href='/admin/logout')
                button.btn-info Излизане от админ профила
        .content
            h1 Премахване на жилище
            form(method='post', action='/admin/remove')
                input.form-control(type='number', name='code', placeholder='Код на жилище')
                button.btn-danger.form-control(type='submit') Премахване