extends shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            button.btn-warning 
                a(href='/admin/edit') Промяна
            button.btn-danger 
                a(href='/admin/remove') Премахване
        .content
            h1 Добавяне на жилище
            form(method='post', action='/admin/add', enctype='multipart/form-data')
                select(name='type')
                    option(value='къща') къща
                    option(value='апартамент') апартамент
                    option(value='парцел') парцел
                input.form-control(type='text', name='title', placeholder='заглавие')
                textarea.form-control(name='text', rows='10', cols='30', placeholder='описание')
                input.form-control(type='text', name='price', placeholder='цена в евро')
                input.form-control(type='text', name='place', placeholder='място')
                input.form-control(type='number', name='size', placeholder='размер(кв м.)')
                label(for='firstLine') първа линия
                input(type='checkbox', name='firstLine')
                label(for='parkingSpot') паркинг място
                input(type='checkbox', name='parkingSpot')
                label(for='view') гледка
                input(type='checkbox', name='view')
                label(for='pool') басейн
                input(type='checkbox', name='pool')
                label(for='furnished') обзаведен
                input(type='checkbox', name='furnished')
                textarea.form-control(name='contacts', rows='5', cols='30', placeholder='контакти')
                input.form-control(type='number', name='code', placeholder='код')
                input.form-control#number_pictures(name='number_pictures', type='number',placeholder='брой снимки', onkeyup='change()')
                script.
                    function change(){
                    const ul = document.getElementById('changable_ul');
                    const input = document.getElementById('number_pictures');
                    while (ul.firstChild) {
                        ul.removeChild(ul.firstChild);
                    }
                    var n = +input.value;
                    if (typeof n == 'number') {
                        for (let i = 0; i < n; i += 1) {
                            var li = document.createElement("li");
                            var newInput = document.createElement("input");
                            newInput.className = 'form-control';
                            newInput.type = 'file';
                            newInput.name = 'pic';
                            newInput.accept = 'image/*';
                            li.appendChild(newInput);
                            ul.appendChild(li);
                        }
                    }
                    }
                ul#changable_ul
                button.btn-success(type='submit') Добавяне
    