extends shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            button.btn-success 
                a(href='/admin/add') Добавяне
            button.btn-warning 
                a(href='/admin/edit') Промяна
            button.btn-info 
                a(href='/admin/logout') Излизане от админ профила
        .content
            h1 Премахване на жилище
            form(method='post', action='/admin/remove')
                input.form-control(type='number', name='code', placeholder='Код на жилище')
                button.btn-danger.form-control(type='submit') Премахване