extends shared/_master

block body
    link(rel='stylesheet', href='../static/css/add-apartment.css')
    .container
        .menu
            button.btn-success 
                a(href='/admin/add') Добавяне
            button.btn-danger 
                a(href='/admin/edit') Промяна
        .content
            h1 Премахване на жилище
            form(method='post', action='/admin/remove')
                input.form-control(type='number', name='code', placeholder='Код на жилище')
                button.btn-danger(type='submit') Премахване